#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photograph-header img{
    height: 200px;
    width: 200px;
    border-radius: 50%; /*mise en forme photos*/
    object-fit: cover; 
}
.name{
    font-size: 3em;
    color: #D3573C
}
.contry{
    color: #901C1C;
    font-size: 1.7em;
    margin-bottom: 19px;
}

.tagline{
    font-size: 1.2em;
    color: #525252;
}

.contennerImage{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.image{
    width: 350px;
    height: 300px;
    margin: 95px 0px 0px 95px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleLike{
    font-size: 1.3em;
    color: #901C1C;
    display: flex;
    justify-content: space-between;
}

.like{
    display: flex;
}

.heart .fas{
    display: none;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 55%;
    left: 25%;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}