/* mise en page infos photographer */

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 340px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3% 0px 3%;
}

.photograph-header img{
    height: 200px;
    width: 200px;
    border-radius: 50%; /*mise en forme photos*/
    object-fit: cover; 
}

.name{
    font-size: 4.5em;
    color: #D3573C
}

.contry{
    color: #901C1C;
    font-size: 1.7em;
    margin-bottom: 2%;
}

.tagline{
    font-size: 1.2em;
    color: #525252;
}

/* mise en page des vignettes medias */
.contennerImage{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

article{
    margin: 50px 45px 45px 50px;
}

.image{
    width: 350px;
    height: 300px;
    
}

img, video{
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* mise en forme des likes et titre */
.titleLike{
    color: #901C1C;
    display: flex;
    justify-content: space-between;
}

#totalLike{
    font-size: 20px;
    background-color: #DB8876;
    display: flex;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    right: 45px;
    bottom: 0px;
    z-index: 2;
}

.numberHeart{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title{
    width: 50%;
    font-size: 1.2em;
    color: #901C1C;
}

.like{
    display: flex;
    width: 20%;
    justify-content: space-between;
    font-size: 1.2em;
}

.heart{
    display: flex;
    align-items: center;
}

.heart .fas{
    position: absolute;
    opacity: 0;
    z-index: 0;
}

.heart .far{
    z-index: 1;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* mise en forme du formulaire contact */
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    top: 55%;
    left: 25%;
    z-index: 2;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 19px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 2.7em;
    font-weight: normal;
    margin: 0px;
}

.modal label{
    font-size: 1.50rem;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 26px;
}

form #message{
    width: 100%;
    font-size: 26px;
}

#close{
    object-fit:none;
    width: 10%;
    height: 30%;
    position: absolute;
    bottom: 79%;
    left: 85%;
}

/* Mise en forme du menue filter */

#filterMenue{
    display: flex;
    font-size: 2em;
    margin: 12px 0px 0px 100px;
    position: relative;
}

#filter{
    padding: 0px 10px 0px 0px;;
}

#filterType{
    width: 18%;
    font-size: 1em;
    background-color: #901C1C;
    color: white;
}

@media screen and (max-width: 1024px) {
    #filterType{
        width: 25%;;
    }
}
